
.mapboxgl-popup-content {
    margin: 0%;
    max-width: 300px;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

.mapboxgl-marker {
    background-color: transparent;
    border: none;
    padding: 2px;
    color: black;
}